<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dagochat - Error</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="http://localhost:3000/static/css/authError.css">
    </head>
    <body>
        <main>
            <h2>Email verified !</h2>
            <p>Your email has been verified. Click the button down below to see your profile</p>
            <button class="disabled" data-action="redirect" data-target="/profile/">Go home</button>
        </main>

        <script src="http://localhost:3000/static/js/authError.js"></script>
    </body>
</html>