<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Login & Registration Form</title>
        <!---Custom CSS File--->
        <link rel="stylesheet" href="css/login.css" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    </head>
    <body>
        <div class="container">
            <input type="checkbox" id="check" />
            <div class="login form">
                <header>Login</header>
                <form id="login">
                    <div class="form-action">
                        <input type="text" placeholder="Enter your email or username" name="username" id="username_login" class="invalid"/>
                        <div class="info-msg">
                            <p class="error-msg"><i class="bi bi-exclamation-circle"></i> This is an error</p>
                            <p class="valid-msg"><i class="bi bi-check-circle"></i> Valid</p>
                        </div>
                    </div>
                    <div class="form-action">
                        <input type="password" placeholder="Enter your password" name="password" id="password_login"/>
                        <div class="info-msg">
                            <p class="error-msg"><i class="bi bi-exclamation-circle"></i> This is an error</p>
                            <p class="valid-msg"><i class="bi bi-check-circle"></i> Valid</p>
                        </div>
                    </div>
                    <a href="#">Forgot password?</a>
                    <input type="submit" class="button" value="Login" id="loginbtn"/>
                </form>
                <div class="signup">
                    <span class="signup"
                        >Don't have an account?
                        <label for="check">Signup</label>
                    </span>
                </div>
            </div>
            <div class="registration form">
                <header>Signup</header>
                <form action="#" id="register">
                    <input
                        type="text"
                        placeholder="Choose a username"
                        name="username"
                        id="username_signup"
                    />
                    <input
                        type="text"
                        placeholder="Enter your email"
                        name="email"
                        id="email_signup"
                    />
                    <input
                        type="password"
                        placeholder="Create a password"
                        name="password"
                        id="password_signup"
                    />
                    <input
                        type="password"
                        placeholder="Confirm your password"
                        name="passwordretype"
                        id="repassword_signup"
                    />
                    <input type="button" class="button" value="Signup" id="signupbtn"/>
                </form>
                <div class="signup">
                    <span class="signup"
                        >Already have an account?
                        <label for="check">Login</label>
                    </span>
                </div>
            </div>
        </div>

        <script src="js/loginPage.js"></script>
    </body>
</html>
