* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5B6C5D;
}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    border-radius: 10px 10px 0 0;
    font-size: 30px;
    text-transform: uppercase;
}

#controls {
    display: flex;
    width: 100%;
    justify-content: center;
}
button {
    width: 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
}
#start {
    padding: 10px;
    background-color: #56E39F;
    outline: none;
    border: none;
    border-radius: 0px 0px 0px 10px;
    cursor: pointer;
}

#start:is(:active) {
    background-color: #23bb71;
}

#pause {
    padding: 10px;
    background-color: #e3b656;
    outline: none;
    border: none;
    cursor: pointer;
}

#pause:is(:active) {
    background-color: #bb9f23;
}
#rewind {
    padding: 10px;
    background-color: #e35656;
    outline: none;
    border: none;
    border-radius: 0px 0px 10px 0px;
    cursor: pointer;
}

#rewind:is(:active) {
    background-color: #bb2323;
}