* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    width: 100%;
    background: #009579;
}

main {
    margin-top: 5vh;
    height: 90vh;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

img {
    width: 25vh;
    margin-top: 15px
}

input#ppicinpt {display: none;}
a#randomizepic {
    color: #009579;
    cursor: pointer;
    text-decoration: underline;
}
img {
    cursor: pointer;
}